*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px; /* Espacio entre imágenes */
    width: 100%;
    padding: 5px;
  }
  
  .menu img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    max-width: 375px; /* Limita el ancho máximo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 600px) {
    .menu img {
      max-width: 500px; /* Cambia el ancho máximo en pantallas más grandes */
    }
  }