@media (max-width:767px) /*adaptacion a movil*/ {

    .login img {
        margin: 20px;
        height: 270px;
        padding: 10px;
    }
    
    .menu img {
        height: 630px;
    }

    .cafe img {
        height: 630px;
    }
}
